/* hero background image */
.bgimage {
    height: 100vh;
    background: url('/public/images/hero_img.jpg');
    background-size: cover;
    position: relative;
  }
  
  /* text css above hero image */
  .hero_title {
    font-size: 2.5rem;
  }
  
  .hero_desc {
    font-size: 1.5rem;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    margin-left: 20px;
  }
  
  @media (max-width: 768px) {
    /* Adjust styles for smaller screens */
    .hero-title {
      font-size: 2rem;
    }
  
    .hero_desc {
      font-size: 1.2rem;
    }
  
    .hero-text {
      left: 50%;
      margin-left: 0;
    }
  }
  
.imageAboutPage {
    width: 100%;
}

.servicesText.card {
    height: 280px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #008000;
}
.servicesText:hover {
    border: 1px solid #008000;
}

.how_it_works {
    padding: 20px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .column {
    flex: 1;
    text-align: center;
    padding: 20px;
    border: 0px solid #ccc;
    box-sizing: border-box;
  }
  
  .image {
    max-width: 100%;
    height: auto;
  }
  
  .info {
    color: black;
    font-size: 18px;
  }
  
  /* Style for the button */
  button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: rgb(241, 64, 64);
    color: #fff;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Media query for smaller screens */
  @media (max-width: 768px) {
    .column {
      flex: 1 0 100%;
    }
  
    button {
      margin: 20px auto;
    }
  }
  

  .create
  {
    border-radius: 50%;
   border-color: #008000;
   border: 2px;
  }
  .img_second
  {
    margin-bottom: 10px;
  }