
.nav-link
{
    color:#fff;
}
 a
{
    text-decoration:none;
    color:#fff;
}

.navbar {
    background-color: black;
    position: fixed;
    width:100%;
    overflow:hidden;
}

.menu
{
    border-radius:50px;
    margin-top:0px;
    position:absolute;
    top:0px;
    left:220px;
}
